* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER STYLE */

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 6%;
    /* DEBUG */
    background-color: pink;
}

#head-logo{
    width: 25%;
    text-align: start;
    /* DEBUG */
    border: 1px solid black;
    background-color: yellow;
}

#head-link{
    width: 50%;
    text-align: center;
    /* DEBUG */
    border: 1px solid black;
    background-color: yellow;
}

#head-login{
    width: 25%;
    text-align: end;
    /* DEBUG */
    border: 1px solid black;
    background-color: yellow;
}

#head-introcontainer{
    width: 100%;
    padding: 1% 6%;
    display: flex;
    justify-content: center;
    /* DEBUG */
    height: 200px;
    background-color: lightblue;
}

#introduction {
    width: 80%;
    /* DEBUG */
    background-color: purple;
}

/* MAIN STYLE */

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 6%;
    /* DEBUG */
    background-color: lightgreen
}

.even {
    flex-direction: row-reverse;
    /* DEBUG */
    background-color: lightsalmon;
}

.content {
    /* DEBUG */
    border: 1px solid black;
    height: 200px;
}  

.blue {
    width: 60%;
    /* DEBUG */
    background-color: blue;
}

.pink {
    width: 40%;
    /* DEBUG */
    background-color: pink;
}

.green {
    width: 100%;
    /* DEBUG */
    background-color: green;
    border: 1px solid black;
    height: 200px;
}

/* FOOTER STYLE */

footer {
    /* DEBUG */
    background-color: gray;
}

#foot-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 6%;
}

.aqua {
    width: 15%;
    /* DEBUG */
    background-color: aqua;
}

#foot-link {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 6% 0 6%;
    /* DEBUG */
    border: 1px solid black;
}

#foot-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    border: 1px solid black;
    height: 100px;
    background-color: aqua;
}

#foot-box a {
    flex-shrink: 0; 
    /* DEBUG */
    border: 1px solid black;
    background-color: yellow;
}